.navbar {
  background-color: #ee5bd5;

  & .container {
    display: flex;
    gap: 20px;
    & a {
      padding: 20px;
      text-decoration: none;
      color: white;
      font-weight: bold;
    }

    & a:hover {
      color: white;
      background-color: #e3a3e3;
    }
  }
}

.containerApp {
  min-height: 90vh;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}